Repository cal-icor/cal-icor-hubs, pull requests merged in 2025-05, with the labels that each got.

#62 [Hub] LACC - Github Auth
  deployments/lacc/config/common.yaml
  deployments/lacc/config/prod.yaml
  deployments/lacc/config/staging.yaml
  deployments/lacc/secrets/prod.yaml
  deployments/lacc/secrets/staging.yaml
Labels: configuration, hub: lacc

#69 bump ancient kubectl version for calendar scaler
  hub/Chart.yaml
  images/node-placeholder-scaler/Dockerfile
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
Labels: configuration, dockerfile, hub-images, helm-config, jupyterhub-deployment, node-placeholder-deployment, node-placeholder-scaler

#71 update base image tag to 3092c6786cfd
  deployments/jupyter/hubploy.yaml
  deployments/lacc/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/ucla/hubploy.yaml
Labels: configuration, hub: jupyter, hub: lacc, hub: ucla

#72 merge 69/71 to prod
  deployments/jupyter/hubploy.yaml
  deployments/lacc/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/ucla/hubploy.yaml
  hub/Chart.yaml
  images/node-placeholder-scaler/Dockerfile
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
Labels: configuration, dockerfile, node-placeholder-deployment, hub: jupyter, hub: lacc, node-placeholder-scaler

#73 [Hub] UCLA CiLogon
  deployments/ucla/secrets/prod.yaml
  deployments/ucla/secrets/staging.yaml
Labels: configuration, hub: ucla

#77 add new hub request template
  .github/ISSUE_TEMPLATE/new_hub_request.yml
Labels: issue-templates

#80 stop using a feature branch for testing hubploy
  dev-requirements.txt
  requirements.txt
Labels: configuration

#82 [Hub] UCLA Creds
  deployments/ucla/secrets/prod.yaml
  deployments/ucla/secrets/staging.yaml
Labels: configuration, hub: ucla

#83 merging 80/81 to prod
  deployments/ucla/secrets/prod.yaml
  deployments/ucla/secrets/staging.yaml
  dev-requirements.txt
  requirements.txt
Labels: configuration, hub: ucla

#81 update base image tag to 88d0254c55f0
  deployments/jupyter/hubploy.yaml
  deployments/lacc/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/ucla/hubploy.yaml
Labels: configuration, hub: jupyter, hub: lacc, hub: ucla

#84 medrging 81 to prod
  deployments/jupyter/hubploy.yaml
  deployments/lacc/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/ucla/hubploy.yaml
Labels: configuration, hub: jupyter, hub: lacc, hub: ucla

#85 Update template defaults and add a label
  .github/labeler.yml
  deployments/template/cookiecutter.json
Labels: build-infra, configuration

#86 adding dvc hub
  .github/labeler.yml
  configs/hubs.txt
  deployments/dvc/config/common.yaml
  deployments/dvc/config/filestore/squash-flags.json
  deployments/dvc/config/prod.yaml
  deployments/dvc/config/staging.yaml
  deployments/dvc/hubploy.yaml
  deployments/dvc/secrets/gke-key.json
  deployments/dvc/secrets/prod.yaml
  deployments/dvc/secrets/staging.yaml
Labels: documentation, build-infra, configuration, hub: dvc

#87 merging 85/86 to prod
  .github/labeler.yml
  configs/hubs.txt
  deployments/dvc/config/common.yaml
  deployments/dvc/config/filestore/squash-flags.json
  deployments/dvc/config/prod.yaml
  deployments/dvc/config/staging.yaml
  deployments/dvc/hubploy.yaml
  deployments/dvc/secrets/gke-key.json
  deployments/dvc/secrets/prod.yaml
  deployments/dvc/secrets/staging.yaml
  deployments/template/cookiecutter.json
Labels: documentation, build-infra, configuration, hub: dvc

#88 [Hub] DVC Config
  deployments/dvc/config/common.yaml
  deployments/dvc/config/prod.yaml
  deployments/dvc/config/staging.yaml
  deployments/dvc/secrets/prod.yaml
  deployments/dvc/secrets/staging.yaml
Labels: configuration, hub: dvc

#89 merging 88 to prod
  deployments/dvc/config/common.yaml
  deployments/dvc/config/prod.yaml
  deployments/dvc/config/staging.yaml
  deployments/dvc/secrets/prod.yaml
  deployments/dvc/secrets/staging.yaml
Labels: configuration, hub: dvc

#90 testing default landing page
  deployments/jupyter/config/common.yaml
  deployments/jupyter/config/staging.yaml
  deployments/jupyter/secrets/staging.yaml
  hub/templates/configmap-hub-templates.yaml
Labels: configuration, hub: jupyter

#92 merging 90 to prod
  deployments/jupyter/config/common.yaml
  deployments/jupyter/config/staging.yaml
  deployments/jupyter/secrets/staging.yaml
  hub/templates/configmap-hub-templates.yaml
Labels: configuration, hub: jupyter

#93 Add landing pages for all hubs
  deployments/dvc/config/common.yaml
  deployments/jupyter/config/common.yaml
  deployments/lacc/config/common.yaml
  deployments/template/{{cookiecutter.hub_name}}/config/common.yaml
  deployments/ucla/config/common.yaml
  hub/values.yaml
Labels: configuration, helm-config, jupyterhub-deployment, hub: jupyter, hub: lacc, hub: ucla, template, hub: dvc

#95 merging 93/94 to prod
  deployments/dvc/config/common.yaml
  deployments/jupyter/config/common.yaml
  deployments/lacc/config/common.yaml
  deployments/template/cookiecutter.json
  deployments/template/{{cookiecutter.hub_name}}/config/common.yaml
  deployments/ucla/config/common.yaml
  hub/values.yaml
Labels: configuration, helm-config, jupyterhub-deployment, hub: jupyter, hub: lacc, hub: ucla, template, hub: dvc

#98 merge 96/97 to prod
  README.md
Labels: documentation

#99 bump chp to 5.0.0-beta.1
  hub/values.yaml
Labels: configuration, helm-config, jupyterhub-deployment

#100 Deployer
  .gitignore
  deployer/main.py
  deployer/secret_file_gen.py
  deployments/template/cookiecutter.json
  deployments/template/{{cookiecutter.hub_name}}/config/common.yaml
  deployments/template/{{cookiecutter.hub_name}}/config/prod.yaml
  deployments/template/{{cookiecutter.hub_name}}/config/staging.yaml
  deployments/template/{{cookiecutter.hub_name}}/secrets/prod.plain.yaml
  deployments/template/{{cookiecutter.hub_name}}/secrets/prod.yaml
  deployments/template/{{cookiecutter.hub_name}}/secrets/staging.plain.yaml
  deployments/template/{{cookiecutter.hub_name}}/secrets/staging.yaml
Labels: build-infra, configuration, python, template

#101 [deployer] re-organized
  configs/hubs.txt
  scripts/create_deployments.py
  scripts/secret_file_gen.py
Labels: configuration

#104 [cookiecutter] Fixed Tabbing allowed_domains
  deployments/template/{{cookiecutter.hub_name}}/config/common.yaml
Labels: configuration, template

#70 Adding alert creation script
  scripts/hub_alerts/README.md
  scripts/hub_alerts/create_alerts.py
Labels: documentation, python

#103 move from kubernetes.io/ingress.class to ingressClassName: nginx to squelch deprecation warning
  hub/values.yaml
  support/values.yaml
Labels: configuration, helm-config, jupyterhub-deployment, support-deployment

#105 fixing evc
  .github/labeler.yml
  deployments/evc/config/common.yaml
Labels: build-infra, configuration, hub: evc

#107 [EVC] Updated logo
  deployments/evc/config/common.yaml
Labels: configuration, hub: evc

#108 [Hub] Fresno
  deployments/fresno/config/common.yaml
  deployments/fresno/config/filestore/squash-flags.json
  deployments/fresno/config/prod.yaml
  deployments/fresno/config/staging.yaml
  deployments/fresno/hubploy.yaml
  deployments/fresno/secrets/gke-key.json
  deployments/fresno/secrets/prod.yaml
  deployments/fresno/secrets/staging.yaml
Labels: configuration, hub: fresno

#109 merge #108 to prod
  deployments/fresno/config/common.yaml
  deployments/fresno/config/filestore/squash-flags.json
  deployments/fresno/config/prod.yaml
  deployments/fresno/config/staging.yaml
  deployments/fresno/hubploy.yaml
  deployments/fresno/secrets/gke-key.json
  deployments/fresno/secrets/prod.yaml
  deployments/fresno/secrets/staging.yaml
Labels: configuration, hub: fresno

#112 adding grafana dashboard + adding specific ignore to pyproject
  pyproject.toml
  vendor/grafana/dashboards/general/Anomalous activities-1714066292129.json
  vendor/grafana/dashboards/general/Cloud Storage Monitoring-1714066317471.json
  vendor/grafana/dashboards/general/Cluster Health-1714066323007.json
  vendor/grafana/dashboards/general/Cluster Information2-1714066330142.json
  vendor/grafana/dashboards/general/Core pods resource usage-1714066335185.json
  vendor/grafana/dashboards/general/HTTP Requests (nginx) Copy-1714066338895.json
  vendor/grafana/dashboards/general/Hub Metrics-1714066344166.json
  vendor/grafana/dashboards/general/JupyterHub Dashboard2-1714066348840.json
  vendor/grafana/dashboards/general/NGINX Ingress controller-1714066353536.json
  vendor/grafana/dashboards/general/Python Popularity Contest-1714066357213.json
  vendor/grafana/dashboards/general/Ryan's Draft Panels-1714066360784.json
  vendor/grafana/dashboards/general/Storage I_O Statistics-1714066365230.json
  vendor/grafana/dashboards/general/nginx based request metrics-1714066371135.json
Labels: configuration, grafana

#113 merging 112 to prod
  pyproject.toml
  vendor/grafana/dashboards/general/Anomalous activities-1714066292129.json
  vendor/grafana/dashboards/general/Cloud Storage Monitoring-1714066317471.json
  vendor/grafana/dashboards/general/Cluster Health-1714066323007.json
  vendor/grafana/dashboards/general/Cluster Information2-1714066330142.json
  vendor/grafana/dashboards/general/Core pods resource usage-1714066335185.json
  vendor/grafana/dashboards/general/HTTP Requests (nginx) Copy-1714066338895.json
  vendor/grafana/dashboards/general/Hub Metrics-1714066344166.json
  vendor/grafana/dashboards/general/JupyterHub Dashboard2-1714066348840.json
  vendor/grafana/dashboards/general/NGINX Ingress controller-1714066353536.json
  vendor/grafana/dashboards/general/Python Popularity Contest-1714066357213.json
  vendor/grafana/dashboards/general/Ryan's Draft Panels-1714066360784.json
  vendor/grafana/dashboards/general/Storage I_O Statistics-1714066365230.json
  vendor/grafana/dashboards/general/nginx based request metrics-1714066371135.json
Labels: configuration, grafana

#114 Added _deploy_configs example
  .gitignore
  _deploy_configs/<hub>-build-config-example.yaml
Labels: configuration

#115 add some additional functionality for the `create_deployment.py` script
  .gitignore
  _deploy_configs/institution-example.yaml
  create_deployment.sh
  scripts/create_deployment.py
  scripts/create_deployments.py
  scripts/secret_file_gen.py
Labels: build-infra, configuration, python, bash

#116 [Hub] Cuesta Deployment
  deployments/cuesta/config/common.yaml
  deployments/cuesta/config/filestore/squash-flags.json
  deployments/cuesta/config/prod.yaml
  deployments/cuesta/config/staging.yaml
  deployments/cuesta/hubploy.yaml
  deployments/cuesta/secrets/gke-key.json
  deployments/cuesta/secrets/prod.yaml
  deployments/cuesta/secrets/staging.yaml
Labels: configuration, hub: cuesta

#110 add logging, better error reporting etc to create_alerts script
  configs/repos.txt
  scripts/hub_alerts/create_alerts.py
Labels: documentation, configuration, python

#118 add label for cuesta hub
  .github/labeler.yml
Labels: build-infra

#119 add label creation to deployment script
  scripts/create_deployment.py
Labels: python

#117 merging 110/114/115/116/118/119 to prod
  .github/labeler.yml
  .gitignore
  _deploy_configs/institution-example.yaml
  configs/repos.txt
  create_deployment.sh
  deployments/cuesta/config/common.yaml
  deployments/cuesta/config/filestore/squash-flags.json
  deployments/cuesta/config/prod.yaml
  deployments/cuesta/config/staging.yaml
  deployments/cuesta/hubploy.yaml
  deployments/cuesta/secrets/gke-key.json
  deployments/cuesta/secrets/prod.yaml
  deployments/cuesta/secrets/staging.yaml
  scripts/create_deployment.py
  scripts/create_deployments.py
  scripts/hub_alerts/create_alerts.py
  scripts/secret_file_gen.py
Labels: documentation, build-infra, configuration, python, bash, hub: cuesta

#125 merge 122 to prod
  scripts/create_deployment.py
Labels: python

#126 just a quick little refactor
  scripts/create_deployment.py
Labels: python

#128 merge 126 to prod
  scripts/create_deployment.py
Labels: python

#129 i can't leave this well enough alone lol
  scripts/create_deployment.py
Labels: python

#131 merge 129 to prod
  scripts/create_deployment.py
Labels: python

#133 Deployment Script:
  _deploy_configs/institution-example.yaml
  deployments/template/cookiecutter.json
  deployments/template/{{cookiecutter.hub_name}}/config/common.yaml
  scripts/create_deployment.py
Labels: configuration

#134 add hubploy + filestore homedir creation functionality
  _deploy_configs/institution-example.yaml
  deployments/template/cookiecutter.json
  scripts/create_deployment.py
Labels: configuration, python, template

#136 merging 133/134 to prod
  _deploy_configs/institution-example.yaml
  deployments/template/cookiecutter.json
  deployments/template/{{cookiecutter.hub_name}}/config/common.yaml
  scripts/create_deployment.py
Labels: configuration, python, template

#141 Add `csum` deployment.
  .github/labeler.yml
  deployments/csum/config/common.yaml
  deployments/csum/config/filestore/squash-flags.json
  deployments/csum/config/prod.yaml
  deployments/csum/config/staging.yaml
  deployments/csum/hubploy.yaml
  deployments/csum/secrets/gke-key.json
  deployments/csum/secrets/prod.yaml
  deployments/csum/secrets/staging.yaml
Labels: build-infra, configuration, hub: csum

#142 Add `csulb` deployment.
  .github/labeler.yml
  deployments/csulb/config/common.yaml
  deployments/csulb/config/filestore/squash-flags.json
  deployments/csulb/config/prod.yaml
  deployments/csulb/config/staging.yaml
  deployments/csulb/hubploy.yaml
  deployments/csulb/secrets/gke-key.json
  deployments/csulb/secrets/prod.yaml
  deployments/csulb/secrets/staging.yaml
Labels: build-infra, configuration, hub: csulb
