Repository cal-icor/cal-icor-hubs, pull requests merged in 2025-06, with the labels that each got.

#146 add blurb about creating alerts, also ignore created json files
  scripts/create_deployment.py
  scripts/hub_alerts/.gitignore
Labels: python

#148 Add `csueb` deployment.
  .github/labeler.yml
  deployments/csueb/config/common.yaml
  deployments/csueb/config/filestore/squash-flags.json
  deployments/csueb/config/prod.yaml
  deployments/csueb/config/staging.yaml
  deployments/csueb/hubploy.yaml
  deployments/csueb/secrets/gke-key.json
  deployments/csueb/secrets/prod.yaml
  deployments/csueb/secrets/staging.yaml
Labels: build-infra, configuration, hub: csueb

#149 merge #148 to prod
  .github/labeler.yml
  deployments/csueb/config/common.yaml
  deployments/csueb/config/filestore/squash-flags.json
  deployments/csueb/config/prod.yaml
  deployments/csueb/config/staging.yaml
  deployments/csueb/hubploy.yaml
  deployments/csueb/secrets/gke-key.json
  deployments/csueb/secrets/prod.yaml
  deployments/csueb/secrets/staging.yaml
Labels: build-infra, configuration, hub: csueb

#152 Add `csula` deployment.
  .github/labeler.yml
  deployments/csula/config/common.yaml
  deployments/csula/config/filestore/squash-flags.json
  deployments/csula/config/prod.yaml
  deployments/csula/config/staging.yaml
  deployments/csula/hubploy.yaml
  deployments/csula/secrets/gke-key.json
  deployments/csula/secrets/prod.yaml
  deployments/csula/secrets/staging.yaml
Labels: build-infra, configuration, hub: csula

#153 Add `csusj` deployment.
  .github/labeler.yml
  deployments/csusj/config/common.yaml
  deployments/csusj/config/filestore/squash-flags.json
  deployments/csusj/config/prod.yaml
  deployments/csusj/config/staging.yaml
  deployments/csusj/hubploy.yaml
  deployments/csusj/secrets/gke-key.json
  deployments/csusj/secrets/prod.yaml
  deployments/csusj/secrets/staging.yaml
Labels: build-infra, configuration, hub: csusj

#155 Create Alerts Shell Script
  create_alerts.sh
Labels: bash

#156 Add folsomlake deployment
  .github/labeler.yml
  deployments/folsomlake/config/common.yaml
  deployments/folsomlake/config/filestore/squash-flags.json
  deployments/folsomlake/config/prod.yaml
  deployments/folsomlake/config/staging.yaml
  deployments/folsomlake/hubploy.yaml
  deployments/folsomlake/secrets/gke-key.json
  deployments/folsomlake/secrets/prod.yaml
  deployments/folsomlake/secrets/staging.yaml
Labels: build-infra, configuration, hub: folsomlake

#157 merge #155, #156 to prod
  .github/labeler.yml
  create_alerts.sh
  deployments/folsomlake/config/common.yaml
  deployments/folsomlake/config/filestore/squash-flags.json
  deployments/folsomlake/config/prod.yaml
  deployments/folsomlake/config/staging.yaml
  deployments/folsomlake/hubploy.yaml
  deployments/folsomlake/secrets/gke-key.json
  deployments/folsomlake/secrets/prod.yaml
  deployments/folsomlake/secrets/staging.yaml
Labels: build-infra, configuration, hub: folsomlake

#158 [CSULA] Updated Logo
  deployments/csula/config/common.yaml
Labels: configuration, hub: csula

#159 merge #158 to prod
  deployments/csula/config/common.yaml
Labels: build-infra, configuration, hub: csula

#161 merging 160 to prod
  deployments/csueb/hubploy.yaml
  deployments/csuf/hubploy.yaml
  deployments/csula/hubploy.yaml
  deployments/csulb/hubploy.yaml
  deployments/csum/hubploy.yaml
  deployments/csumb/hubploy.yaml
  deployments/csus/hubploy.yaml
  deployments/csusj/hubploy.yaml
  deployments/cuesta/hubploy.yaml
  deployments/dvc/hubploy.yaml
  deployments/evc/hubploy.yaml
  deployments/folsomlake/hubploy.yaml
  deployments/fresno/hubploy.yaml
  deployments/jupyter/hubploy.yaml
  deployments/lacc/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/ucla/hubploy.yaml
Labels: configuration, hub: jupyter, hub: lacc, hub: ucla, template, hub: dvc, hub: evc, hub: cuesta, hub: csuf, hub: csum, hub: csulb, hub: csueb, hub: csumb, hub: csus, hub: csula, hub: csusj, hub: folsomlake

#164 update base image tag to 5c342c78ee7b
  deployments/csueb/hubploy.yaml
  deployments/csuf/hubploy.yaml
  deployments/csula/hubploy.yaml
  deployments/csulb/hubploy.yaml
  deployments/csum/hubploy.yaml
  deployments/csumb/hubploy.yaml
  deployments/csus/hubploy.yaml
  deployments/csusj/hubploy.yaml
  deployments/cuesta/hubploy.yaml
  deployments/dvc/hubploy.yaml
  deployments/evc/hubploy.yaml
  deployments/folsomlake/hubploy.yaml
  deployments/fresno/hubploy.yaml
  deployments/jupyter/hubploy.yaml
  deployments/lacc/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/ucla/hubploy.yaml
Labels: configuration, hub: jupyter, hub: lacc, hub: ucla, template, hub: dvc, hub: evc, hub: cuesta, hub: csuf, hub: csum, hub: csulb, hub: csueb, hub: csumb, hub: csus, hub: csula, hub: csusj, hub: folsomlake

#165 merging 164 to prod
  deployments/csueb/hubploy.yaml
  deployments/csuf/hubploy.yaml
  deployments/csula/hubploy.yaml
  deployments/csulb/hubploy.yaml
  deployments/csum/hubploy.yaml
  deployments/csumb/hubploy.yaml
  deployments/csus/hubploy.yaml
  deployments/csusj/hubploy.yaml
  deployments/cuesta/hubploy.yaml
  deployments/dvc/hubploy.yaml
  deployments/evc/hubploy.yaml
  deployments/folsomlake/hubploy.yaml
  deployments/fresno/hubploy.yaml
  deployments/jupyter/hubploy.yaml
  deployments/lacc/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/ucla/hubploy.yaml
Labels: configuration, hub: jupyter, hub: lacc, hub: ucla, template, hub: dvc, hub: evc, hub: cuesta, hub: csuf, hub: csum, hub: csulb, hub: csueb, hub: csumb, hub: csus, hub: csula, hub: csusj, hub: folsomlake

#145 moving to the new node-placeholder scaler helm chart
  .github/labeler.yml
  .github/workflows/deploy-node-placeholder.yaml
  chartpress.yaml
  images/node-placeholder-scaler/Dockerfile
  images/node-placeholder-scaler/requirements.in
  images/node-placeholder-scaler/requirements.txt
  images/node-placeholder-scaler/scaler/__init__.py
  images/node-placeholder-scaler/scaler/__main__.py
  images/node-placeholder-scaler/scaler/calendar.py
  images/node-placeholder-scaler/scaler/scaler.py
  node-placeholder/.helmignore
  node-placeholder/Chart.yaml
  node-placeholder/templates/NOTES.txt
  node-placeholder/templates/_helpers.tpl
  node-placeholder/templates/configmap.yaml
  node-placeholder/templates/deployment.yaml
  node-placeholder/templates/pdb.yaml
  node-placeholder/templates/priorityclass.yaml
  node-placeholder/templates/rbac.yaml
  node-placeholder/templates/serviceaccount.yaml
  node-placeholder/values.yaml
  support/requirements.yaml
  support/values.yaml
Labels: documentation, build-infra, configuration, dockerfile, hub-images, helm-config, support-deployment, python, node-placeholder-deployment, node-placeholder-scaler

#169 Update deploy-support.yaml
  .github/workflows/deploy-support.yaml
Labels: build-infra, support-deployment

#170 DVC Update domains
  deployments/dvc/config/common.yaml
Labels: configuration, hub: dvc

#171 merged to prod #145, #168, #169, #170
  .github/labeler.yml
  .github/workflows/deploy-node-placeholder.yaml
  .github/workflows/deploy-support.yaml
  chartpress.yaml
  deployments/dvc/config/common.yaml
  images/node-placeholder-scaler/Dockerfile
  images/node-placeholder-scaler/requirements.in
  images/node-placeholder-scaler/requirements.txt
  images/node-placeholder-scaler/scaler/__init__.py
  images/node-placeholder-scaler/scaler/__main__.py
  images/node-placeholder-scaler/scaler/calendar.py
  images/node-placeholder-scaler/scaler/scaler.py
  node-placeholder/.helmignore
  node-placeholder/Chart.yaml
  node-placeholder/templates/NOTES.txt
  node-placeholder/templates/_helpers.tpl
  node-placeholder/templates/configmap.yaml
  node-placeholder/templates/deployment.yaml
  node-placeholder/templates/pdb.yaml
  node-placeholder/templates/priorityclass.yaml
  node-placeholder/templates/rbac.yaml
  node-placeholder/templates/serviceaccount.yaml
  node-placeholder/values.yaml
  support/requirements.yaml
  support/values.yaml
Labels: documentation, build-infra, configuration, dockerfile, hub-images, helm-config, support-deployment, python, node-placeholder-deployment, node-placeholder-scaler, hub: dvc

#172 [DVC] Remove Google Auth Domains test
  deployments/dvc/config/common.yaml
Labels: configuration, helm-config, hub: dvc

#178 merge 177 to prod
  deployments/csueb/hubploy.yaml
  deployments/csuf/hubploy.yaml
  deployments/csula/hubploy.yaml
  deployments/csulb/hubploy.yaml
  deployments/csum/hubploy.yaml
  deployments/csumb/hubploy.yaml
  deployments/csus/hubploy.yaml
  deployments/csusj/hubploy.yaml
  deployments/cuesta/hubploy.yaml
  deployments/dvc/hubploy.yaml
  deployments/evc/hubploy.yaml
  deployments/folsomlake/hubploy.yaml
  deployments/fresno/hubploy.yaml
  deployments/jupyter/hubploy.yaml
  deployments/lacc/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/ucla/hubploy.yaml
Labels: configuration, hub: jupyter, hub: lacc, hub: ucla, template, hub: dvc, hub: evc, hub: fresno, hub: cuesta, hub: csuf, hub: csum, hub: csulb, hub: csueb, hub: csumb, hub: csus, hub: csula, hub: csusj, hub: folsomlake

#179 Create Deployment: Updated for Github Auth Config
  _deploy_configs/institution-example.yaml
  deployments/template/cookiecutter.json
  deployments/template/{{cookiecutter.hub_name}}/config/common.yaml
  scripts/create_deployment.py
Labels: configuration, python, template

#180 adding basic rw shared dir to the workshop hub
  deployments/jupyter/config/common.yaml
Labels: configuration, hub: jupyter

#185 bump grafana, and set a placeholder node for the base pool
  support/requirements.yaml
  support/values.yaml
Labels: configuration, helm-config

#187 update base image tag to 8bd40cda0dd5
  deployments/csueb/hubploy.yaml
  deployments/csuf/hubploy.yaml
  deployments/csula/hubploy.yaml
  deployments/csulb/hubploy.yaml
  deployments/csum/hubploy.yaml
  deployments/csumb/hubploy.yaml
  deployments/csus/hubploy.yaml
  deployments/csusj/hubploy.yaml
  deployments/cuesta/hubploy.yaml
  deployments/dvc/hubploy.yaml
  deployments/evc/hubploy.yaml
  deployments/folsomlake/hubploy.yaml
  deployments/fresno/hubploy.yaml
  deployments/jupyter/hubploy.yaml
  deployments/lacc/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/ucla/hubploy.yaml
Labels: configuration, hub: jupyter, hub: lacc, hub: ucla, template, hub: dvc, hub: evc, hub: fresno, hub: cuesta, hub: csuf, hub: csum, hub: csulb, hub: csueb, hub: csumb, hub: csus, hub: csula, hub: csusj, hub: folsomlake

#190 update base image tag to aa3f11129a43
  deployments/csueb/hubploy.yaml
  deployments/csuf/hubploy.yaml
  deployments/csula/hubploy.yaml
  deployments/csulb/hubploy.yaml
  deployments/csum/hubploy.yaml
  deployments/csumb/hubploy.yaml
  deployments/csus/hubploy.yaml
  deployments/csusj/hubploy.yaml
  deployments/cuesta/hubploy.yaml
  deployments/dvc/hubploy.yaml
  deployments/evc/hubploy.yaml
  deployments/folsomlake/hubploy.yaml
  deployments/fresno/hubploy.yaml
  deployments/jupyter/hubploy.yaml
  deployments/lacc/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/ucla/hubploy.yaml
Labels: configuration, hub: jupyter, hub: lacc, hub: ucla, template, hub: dvc, hub: evc, hub: fresno, hub: cuesta, hub: csuf, hub: csum, hub: csulb, hub: csueb, hub: csumb, hub: csus, hub: csula, hub: csusj, hub: folsomlake

#191 merge 185/187/190 to prod
  deployments/csueb/hubploy.yaml
  deployments/csuf/hubploy.yaml
  deployments/csula/hubploy.yaml
  deployments/csulb/hubploy.yaml
  deployments/csum/hubploy.yaml
  deployments/csumb/hubploy.yaml
  deployments/csus/hubploy.yaml
  deployments/csusj/hubploy.yaml
  deployments/cuesta/hubploy.yaml
  deployments/dvc/hubploy.yaml
  deployments/evc/hubploy.yaml
  deployments/folsomlake/hubploy.yaml
  deployments/fresno/hubploy.yaml
  deployments/jupyter/hubploy.yaml
  deployments/lacc/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/ucla/hubploy.yaml
  support/requirements.yaml
  support/values.yaml
Labels: configuration, helm-config, support-deployment, hub: jupyter, hub: lacc, hub: ucla, template, hub: dvc, hub: evc, hub: fresno, hub: cuesta, hub: csuf, hub: csum, hub: csulb, hub: csueb, hub: csumb, hub: csus, hub: csula, hub: csusj, hub: folsomlake

#193 merge 192 to prod
  deployments/csueb/hubploy.yaml
  deployments/csuf/hubploy.yaml
  deployments/csula/hubploy.yaml
  deployments/csulb/hubploy.yaml
  deployments/csum/hubploy.yaml
  deployments/csumb/hubploy.yaml
  deployments/csus/hubploy.yaml
  deployments/csusj/hubploy.yaml
  deployments/cuesta/hubploy.yaml
  deployments/dvc/hubploy.yaml
  deployments/evc/hubploy.yaml
  deployments/folsomlake/hubploy.yaml
  deployments/fresno/hubploy.yaml
  deployments/jupyter/hubploy.yaml
  deployments/lacc/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/ucla/hubploy.yaml
Labels: configuration, hub: jupyter, hub: lacc, hub: ucla, template, hub: dvc, hub: evc, hub: fresno, hub: cuesta, hub: csuf, hub: csum, hub: csulb, hub: csueb, hub: csumb, hub: csus, hub: csula, hub: csusj, hub: folsomlake

#196 [Folsom Lake] Added Email Admin
  deployments/folsomlake/config/common.yaml
Labels: configuration, hub: folsomlake

#200 bump ram for cal-icor workshops
  deployments/jupyter/config/common.yaml
Labels: configuration, hub: jupyter

#203 merging 202 to prod
  hub/values.yaml
Labels: configuration, helm-config, jupyterhub-deployment

#204 cleaning up a couple of datahub references in the readme
  README.md
Labels: documentation

#205 bumping urllib3 for cves
  dev-requirements.txt
  requirements.txt
Labels: configuration

#207 [CSUB] Updated Logo
  deployments/csub/config/common.yaml
Labels: configuration, hub: csub

#208 merge to prod #207
  deployments/csub/config/common.yaml
Labels: configuration, hub: csub

#210 update base image tag to af96c5e40451
  deployments/csub/hubploy.yaml
  deployments/csueb/hubploy.yaml
  deployments/csuf/hubploy.yaml
  deployments/csula/hubploy.yaml
  deployments/csulb/hubploy.yaml
  deployments/csum/hubploy.yaml
  deployments/csumb/hubploy.yaml
  deployments/csus/hubploy.yaml
  deployments/csusj/hubploy.yaml
  deployments/cuesta/hubploy.yaml
  deployments/dvc/hubploy.yaml
  deployments/evc/hubploy.yaml
  deployments/folsomlake/hubploy.yaml
  deployments/fresno/hubploy.yaml
  deployments/jupyter/hubploy.yaml
  deployments/lacc/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/ucla/hubploy.yaml
  deployments/ucsc/hubploy.yaml
Labels: configuration, hub: jupyter, hub: lacc, hub: ucla, template, hub: dvc, hub: evc, hub: fresno, hub: cuesta, hub: csuf, hub: csum, hub: csulb, hub: csueb, hub: csumb, hub: csus, hub: csula, hub: csusj, hub: folsomlake, hub: csub, hub: ucsc

#211 update base image tag to 79e7ee67211e
  deployments/csub/hubploy.yaml
  deployments/csueb/hubploy.yaml
  deployments/csuf/hubploy.yaml
  deployments/csula/hubploy.yaml
  deployments/csulb/hubploy.yaml
  deployments/csum/hubploy.yaml
  deployments/csumb/hubploy.yaml
  deployments/csus/hubploy.yaml
  deployments/csusj/hubploy.yaml
  deployments/cuesta/hubploy.yaml
  deployments/dvc/hubploy.yaml
  deployments/evc/hubploy.yaml
  deployments/folsomlake/hubploy.yaml
  deployments/fresno/hubploy.yaml
  deployments/jupyter/hubploy.yaml
  deployments/lacc/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/ucla/hubploy.yaml
  deployments/ucsc/hubploy.yaml
Labels: configuration, hub: jupyter, hub: lacc, hub: ucla, template, hub: dvc, hub: evc, hub: fresno, hub: cuesta, hub: csuf, hub: csum, hub: csulb, hub: csueb, hub: csumb, hub: csus, hub: csula, hub: csusj, hub: folsomlake, hub: csub, hub: ucsc

#213 bump usc image to latest
  deployments/usc/hubploy.yaml
Labels: configuration, hub: usc

#214 testing support deployment
  support/values.yaml
Labels: configuration, helm-config, support-deployment
