Repository cal-icor/cal-icor-hubs, pull requests merged in 2025-08, with the labels that each got.

#266 Add csumb admins
  deployments/csumb/config/common.yaml
Labels: configuration, hub: csumb

#268 merging 267 to prod
  deployments/csub/hubploy.yaml
  deployments/csueb/hubploy.yaml
  deployments/csuf/hubploy.yaml
  deployments/csula/hubploy.yaml
  deployments/csulb/hubploy.yaml
  deployments/csum/hubploy.yaml
  deployments/csumb/hubploy.yaml
  deployments/csus/hubploy.yaml
  deployments/csusj/hubploy.yaml
  deployments/cuesta/hubploy.yaml
  deployments/dvc/hubploy.yaml
  deployments/evc/hubploy.yaml
  deployments/folsomlake/hubploy.yaml
  deployments/fresno/hubploy.yaml
  deployments/jupyter/hubploy.yaml
  deployments/lacc/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/ucla/hubploy.yaml
  deployments/ucsc/hubploy.yaml
  deployments/usc/hubploy.yaml
Labels: configuration, hub: jupyter, hub: lacc, hub: ucla, template, hub: dvc, hub: evc, hub: fresno, hub: cuesta, hub: csuf, hub: csum, hub: csulb, hub: csueb, hub: csumb, hub: csus, hub: csula, hub: csusj, hub: folsomlake, hub: csub, hub: ucsc, hub: usc

#270 merge to prod #269
  deployments/csumb/config/common.yaml
Labels: configuration, hub: csumb

#275 update base image tag to e405413993af
  deployments/csub/hubploy.yaml
  deployments/csueb/hubploy.yaml
  deployments/csuf/hubploy.yaml
  deployments/csula/hubploy.yaml
  deployments/csulb/hubploy.yaml
  deployments/csum/hubploy.yaml
  deployments/csumb/hubploy.yaml
  deployments/csus/hubploy.yaml
  deployments/csusj/hubploy.yaml
  deployments/cuesta/hubploy.yaml
  deployments/dvc/hubploy.yaml
  deployments/evc/hubploy.yaml
  deployments/folsomlake/hubploy.yaml
  deployments/fresno/hubploy.yaml
  deployments/jupyter/hubploy.yaml
  deployments/lacc/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/ucla/hubploy.yaml
  deployments/ucsc/hubploy.yaml
  deployments/usc/hubploy.yaml
Labels: configuration, hub: jupyter, hub: lacc, hub: ucla, template, hub: dvc, hub: evc, hub: fresno, hub: cuesta, hub: csuf, hub: csum, hub: csulb, hub: csueb, hub: csumb, hub: csus, hub: csula, hub: csusj, hub: folsomlake, hub: csub, hub: ucsc, hub: usc

#273 merging 272/274/275/276 to prod
  deployments/csub/hubploy.yaml
  deployments/csueb/hubploy.yaml
  deployments/csuf/hubploy.yaml
  deployments/csula/hubploy.yaml
  deployments/csulb/hubploy.yaml
  deployments/csum/hubploy.yaml
  deployments/csumb/hubploy.yaml
  deployments/csus/hubploy.yaml
  deployments/csusj/hubploy.yaml
  deployments/cuesta/hubploy.yaml
  deployments/dvc/hubploy.yaml
  deployments/evc/hubploy.yaml
  deployments/folsomlake/hubploy.yaml
  deployments/fresno/hubploy.yaml
  deployments/jupyter/hubploy.yaml
  deployments/lacc/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/ucla/hubploy.yaml
  deployments/ucsc/hubploy.yaml
  deployments/usc/hubploy.yaml
Labels: configuration, hub: jupyter, hub: lacc, hub: ucla, template, hub: dvc, hub: evc, hub: fresno, hub: cuesta, hub: csuf, hub: csum, hub: csulb, hub: csueb, hub: csumb, hub: csus, hub: csula, hub: csusj, hub: folsomlake, hub: csub, hub: ucsc, hub: usc

#277 update base image tag to 8c37f02453ad
  deployments/csub/hubploy.yaml
  deployments/csueb/hubploy.yaml
  deployments/csuf/hubploy.yaml
  deployments/csula/hubploy.yaml
  deployments/csulb/hubploy.yaml
  deployments/csum/hubploy.yaml
  deployments/csumb/hubploy.yaml
  deployments/csus/hubploy.yaml
  deployments/csusj/hubploy.yaml
  deployments/cuesta/hubploy.yaml
  deployments/dvc/hubploy.yaml
  deployments/evc/hubploy.yaml
  deployments/folsomlake/hubploy.yaml
  deployments/fresno/hubploy.yaml
  deployments/jupyter/hubploy.yaml
  deployments/lacc/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/ucla/hubploy.yaml
  deployments/ucsc/hubploy.yaml
  deployments/usc/hubploy.yaml
Labels: configuration, hub: jupyter, hub: lacc, hub: ucla, template, hub: dvc, hub: evc, hub: fresno, hub: cuesta, hub: csuf, hub: csum, hub: csulb, hub: csueb, hub: csumb, hub: csus, hub: csula, hub: csusj, hub: folsomlake, hub: csub, hub: ucsc, hub: usc

#280 update base image tag to 62d414a1cb79
  deployments/csub/hubploy.yaml
  deployments/csueb/hubploy.yaml
  deployments/csuf/hubploy.yaml
  deployments/csula/hubploy.yaml
  deployments/csulb/hubploy.yaml
  deployments/csum/hubploy.yaml
  deployments/csumb/hubploy.yaml
  deployments/csus/hubploy.yaml
  deployments/csusj/hubploy.yaml
  deployments/cuesta/hubploy.yaml
  deployments/dvc/hubploy.yaml
  deployments/evc/hubploy.yaml
  deployments/folsomlake/hubploy.yaml
  deployments/fresno/hubploy.yaml
  deployments/jupyter/hubploy.yaml
  deployments/lacc/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/ucla/hubploy.yaml
  deployments/ucsc/hubploy.yaml
  deployments/usc/hubploy.yaml
Labels: configuration, hub: jupyter, hub: lacc, hub: ucla, template, hub: dvc, hub: evc, hub: fresno, hub: cuesta, hub: csuf, hub: csum, hub: csulb, hub: csueb, hub: csumb, hub: csus, hub: csula, hub: csusj, hub: folsomlake, hub: csub, hub: ucsc, hub: usc

#281 merging 279/280 to prod
  deployments/csub/hubploy.yaml
  deployments/csueb/hubploy.yaml
  deployments/csuf/hubploy.yaml
  deployments/csula/hubploy.yaml
  deployments/csulb/hubploy.yaml
  deployments/csum/hubploy.yaml
  deployments/csumb/hubploy.yaml
  deployments/csus/hubploy.yaml
  deployments/csusj/hubploy.yaml
  deployments/cuesta/hubploy.yaml
  deployments/dvc/hubploy.yaml
  deployments/evc/hubploy.yaml
  deployments/folsomlake/hubploy.yaml
  deployments/fresno/hubploy.yaml
  deployments/jupyter/hubploy.yaml
  deployments/lacc/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/ucla/hubploy.yaml
  deployments/ucsc/hubploy.yaml
  deployments/usc/hubploy.yaml
  hub/values.yaml
Labels: configuration, helm-config, jupyterhub-deployment, hub: jupyter, hub: lacc, hub: ucla, template, hub: dvc, hub: evc, hub: fresno, hub: cuesta, hub: csuf, hub: csum, hub: csulb, hub: csueb, hub: csumb, hub: csus, hub: csula, hub: csusj, hub: folsomlake, hub: csub, hub: ucsc, hub: usc
