Repository cal-icor/cal-icor-hubs, pull requests merged in 2025-04, with the labels that each got.

#32 fixing support and placeholder workflows
  .github/workflows/deploy-node-placeholder.yaml
  .github/workflows/deploy-support.yaml
Labels: support-deployment, node-placeholder-deployment

#33 whackamole
  .github/workflows/deploy-node-placeholder.yaml
  .github/workflows/deploy-support.yaml
Labels: build-infra, support-deployment, node-placeholder-deployment

#35 Bump jupyterhub
  hub/Chart.yaml
  hub/requirements.yaml
  hub/values.yaml
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
Labels: configuration, helm-config, jupyterhub-deployment, node-placeholder-deployment

#37 update base image tag to d3aee621381e
  deployments/jupyter/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
Labels: configuration, hub: jupyter

#38 bumping image tag
  deployments/jupyter/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
Labels: configuration, hub: jupyter

#39 add missing sops key stanza, fix cluster names
  .github/workflows/deploy-node-placeholder.yaml
  .github/workflows/deploy-support.yaml
Labels: build-infra, support-deployment, node-placeholder-deployment

#40 merging 39 to prod
  .github/workflows/deploy-node-placeholder.yaml
  .github/workflows/deploy-support.yaml
Labels: build-infra

#41 Update hub image
  hub/Chart.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
Labels: configuration, dockerfile, hub-images, helm-config, jupyterhub-deployment, node-placeholder-deployment

#42 merging #41 to prod
  hub/Chart.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
Labels: configuration, dockerfile, hub-images, helm-config, jupyterhub-deployment, node-placeholder-deployment

#43 adding hub homepage
  deployments/jupyter/config/common.yaml
  deployments/jupyter/secrets/prod.yaml
  deployments/jupyter/secrets/staging.yaml
Labels: configuration, hub: jupyter

#44 disable the landing homepage for `prod` for the time being...
  deployments/jupyter/config/common.yaml
Labels: configuration, hub: jupyter

#46 turn landing page for prod
  deployments/jupyter/config/common.yaml
  deployments/jupyter/config/staging.yaml
  deployments/jupyter/secrets/prod.yaml
Labels: configuration, hub: jupyter

#47 forgot a stanza
  deployments/jupyter/config/staging.yaml
  deployments/jupyter/secrets/staging.yaml
Labels: configuration, hub: jupyter

#45 deploy homepage to staging but not prod yet
  deployments/jupyter/config/common.yaml
  deployments/jupyter/config/staging.yaml
  deployments/jupyter/secrets/prod.yaml
  deployments/jupyter/secrets/staging.yaml
Labels: configuration, hub: jupyter

#48 testing out a hubploy change
  requirements.txt
Labels: configuration, hub: jupyter

#49 testing out a hubploy change
  requirements.txt
Labels: configuration, hub: jupyter

#52 update base image tag to 36f9fa1bb4c7
  deployments/jupyter/hubploy.yaml
  deployments/lacc/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
Labels: configuration, hub: jupyter, hub: lacc

#53 merging 52 to prod
  deployments/jupyter/hubploy.yaml
  deployments/lacc/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
Labels: configuration, hub: jupyter, hub: lacc

#56 fixing the labeler
  .github/workflows/labeler.yml
Labels: build-infra

#57 merging 56 to prod
  .github/workflows/labeler.yml
Labels: build-infra

#59 refixing dependabot
  hub/Chart.yaml
  images/node-placeholder-scaler/requirements.in
  images/node-placeholder-scaler/requirements.txt
  node-placeholder/Chart.yaml
Labels: configuration, hub-images, helm-config, jupyterhub-deployment, node-placeholder-deployment, node-placeholder-scaler

#63 display the spawn launch timeout so that users know how long to wait
  hub/values.yaml
Labels: configuration, helm-config, jupyterhub-deployment

#64 merging 63 to prod
  hub/values.yaml
Labels: configuration, helm-config, jupyterhub-deployment

#65 no need to store this in our repo tbh
  support/cert-manager.yaml
Labels: configuration, helm-config, support-deployment

#61 [Hub] UCLA
  .github/labeler.yml
  deployments/ucla/config/common.yaml
  deployments/ucla/config/filestore/squash-flags.json
  deployments/ucla/config/prod.yaml
  deployments/ucla/config/staging.yaml
  deployments/ucla/hubploy.yaml
  deployments/ucla/secrets/gke-key.json
Labels: build-infra, configuration, hub: ucla

#66 [Hub] UCLA fix
  deployments/ucla/config/common.yaml
Labels: configuration, hub: ucla
