Repository cal-icor/cal-icor-hubs, pull requests merged in 2025-07, with the labels that each got.

#217 bumping chp from 5.0.0-beta.1 to 5.0.1
  hub/values.yaml
Labels: configuration, helm-config, jupyterhub-deployment

#221 pin oauthenticator to a lower version
  hub/Chart.yaml
  hub/values.yaml
  images/hub/Dockerfile
Labels: configuration, dockerfile, hub-images, helm-config, jupyterhub-deployment

#222 merge 221 to prod
  hub/Chart.yaml
  hub/values.yaml
  images/hub/Dockerfile
Labels: configuration, dockerfile, hub-images, helm-config, jupyterhub-deployment

#224 revert timeouts to original values
  hub/values.yaml
Labels: configuration, helm-config, jupyterhub-deployment

#225 merge 224 to prod
  hub/values.yaml
Labels: configuration, helm-config, jupyterhub-deployment

#228 fixing auth/login to properly download oci artifacts from GAR
  .github/workflows/deploy-support.yaml
Labels: build-infra, support-deployment

#229 reorder auth chain
  .github/workflows/deploy-support.yaml
Labels: build-infra, support-deployment

#230 now with more json auth
  .github/workflows/deploy-support.yaml
Labels: build-infra, support-deployment

#232 cleanup support deployment workflow
  .github/workflows/deploy-support.yaml
Labels: build-infra, support-deployment

#231 merging 227/228/229/230/232 to prod
  .github/workflows/deploy-support.yaml
  scripts/create_deployment.py
Labels: build-infra, python

#233 dont manually install `helm`
  .github/workflows/deploy-hubs.yaml
Labels: build-infra, hub: jupyter

#239 revert manage_groups
  deployments/dvc/config/common.yaml
Labels: configuration, hub: dvc

#240 merge #239 to prod
  deployments/dvc/config/common.yaml
Labels: configuration, hub: dvc

#243 merge 242 to prod
  deployments/csub/hubploy.yaml
  deployments/csueb/hubploy.yaml
  deployments/csuf/hubploy.yaml
  deployments/csula/hubploy.yaml
  deployments/csulb/hubploy.yaml
  deployments/csum/hubploy.yaml
  deployments/csumb/hubploy.yaml
  deployments/csus/hubploy.yaml
  deployments/csusj/hubploy.yaml
  deployments/cuesta/hubploy.yaml
  deployments/dvc/hubploy.yaml
  deployments/evc/hubploy.yaml
  deployments/folsomlake/hubploy.yaml
  deployments/fresno/hubploy.yaml
  deployments/jupyter/hubploy.yaml
  deployments/lacc/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/ucla/hubploy.yaml
  deployments/ucsc/hubploy.yaml
  deployments/usc/hubploy.yaml
Labels: configuration, hub: jupyter, hub: lacc, hub: ucla, template, hub: dvc, hub: evc, hub: fresno, hub: cuesta, hub: csuf, hub: csum, hub: csulb, hub: csueb, hub: csumb, hub: csus, hub: csula, hub: csusj, hub: folsomlake, hub: csub, hub: ucsc, hub: usc

#246 use new homepage template that removes logo and links to institution
  deployments/csuf/config/common.yaml
Labels: configuration, hub: csuf

#247 merge 246 to prod
  deployments/csuf/config/common.yaml
Labels: configuration, hub: csuf

#250 Minor Fix: Package Request Template
  .github/ISSUE_TEMPLATE/package_request.yml
  .gitignore
Labels: build-infra, issue-templates

#252 update hub deployment/creation script to add shared dirs, templated/commented out configs for shared dirs in all hubs, and set `readOnly` to `true` for hubs currently deployed with shared folders
  deployments/csub/config/common.yaml
  deployments/csueb/config/common.yaml
  deployments/csuf/config/common.yaml
  deployments/csula/config/common.yaml
  deployments/csulb/config/common.yaml
  deployments/csum/config/common.yaml
  deployments/csumb/config/common.yaml
  deployments/csus/config/common.yaml
  deployments/csusj/config/common.yaml
  deployments/cuesta/config/common.yaml
  deployments/dvc/config/common.yaml
  deployments/evc/config/common.yaml
  deployments/folsomlake/config/common.yaml
  deployments/fresno/config/common.yaml
  deployments/jupyter/config/common.yaml
  deployments/lacc/config/common.yaml
  deployments/template/{{cookiecutter.hub_name}}/config/common.yaml
  deployments/ucla/config/common.yaml
  deployments/ucsc/config/common.yaml
  deployments/usc/config/common.yaml
  scripts/create_deployment.py
Labels: configuration, python, hub: jupyter, hub: lacc, hub: ucla, template, hub: dvc, hub: evc, hub: fresno, hub: cuesta, hub: csuf, hub: csum, hub: csulb, hub: csueb, hub: csumb, hub: csus, hub: csula, hub: csusj, hub: folsomlake, hub: csub, hub: ucsc, hub: usc

#253 merging 250/521/252 to prod
  .github/ISSUE_TEMPLATE/package_request.yml
  .gitignore
  deployments/csub/config/common.yaml
  deployments/csueb/config/common.yaml
  deployments/csuf/config/common.yaml
  deployments/csula/config/common.yaml
  deployments/csulb/config/common.yaml
  deployments/csum/config/common.yaml
  deployments/csumb/config/common.yaml
  deployments/csus/config/common.yaml
  deployments/csusj/config/common.yaml
  deployments/cuesta/config/common.yaml
  deployments/dvc/config/common.yaml
  deployments/evc/config/common.yaml
  deployments/folsomlake/config/common.yaml
  deployments/fresno/config/common.yaml
  deployments/jupyter/config/common.yaml
  deployments/lacc/config/common.yaml
  deployments/template/{{cookiecutter.hub_name}}/config/common.yaml
  deployments/ucla/config/common.yaml
  deployments/ucsc/config/common.yaml
  deployments/usc/config/common.yaml
  hub/values.yaml
  scripts/create_deployment.py
Labels: build-infra, configuration, helm-config, jupyterhub-deployment, python, hub: jupyter, hub: lacc, hub: ucla, issue-templates, template, hub: dvc, hub: evc, hub: fresno, hub: cuesta, hub: csuf, hub: csum, hub: csulb, hub: csueb, hub: csumb, hub: csus, hub: csula, hub: csusj, hub: folsomlake, hub: csub, hub: ucsc, hub: usc

#259 Move shared folder config to common config
  deployments/csumb/config/common.yaml
  deployments/csus/config/common.yaml
  deployments/jupyter/config/common.yaml
  hub/values.yaml
Labels: configuration, helm-config, jupyterhub-deployment, hub: jupyter, hub: csumb, hub: csus

#261 merging 259 to prod
  deployments/csumb/config/common.yaml
  deployments/csus/config/common.yaml
  deployments/jupyter/config/common.yaml
  hub/values.yaml
Labels: configuration, helm-config, jupyterhub-deployment, hub: jupyter, hub: csumb, hub: csus

#262 updating to use the new scaler release
  support/requirements.yaml
  support/values.yaml
Labels: configuration, helm-config, support-deployment
